
.form-display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #0c1a2d;
    color: #fffaff;
    min-height: calc(100vh - 275px);
} 

.form-app-logo {
    width: 400px;
    margin-top: 80px;
    cursor: pointer;
}

.form-box {
    width: 40%;
    margin-bottom: 50px;
}

.form-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



.create-profile-title {
    color: #3071df;
    margin-bottom: 10px;
}

.form-title {
    margin-top: 20px;
    color: #fdb035;
}

.form-profile-title {
    margin-bottom: 20px;
    color: #fdb035;
}

.form-footer {
    text-align: center;
}

.register-link {
    text-decoration: none;
    color: #3071df;
}

.form-button {
    margin: 5px;
    background-color: #fdb035;
    border-color: #fdb035;
    color: #0c1a2d;
}

.form-button:hover {
    background-color: #df8a00;
    border-color: #df8a00;
    color: #0c1a2d;
}

.form-button:active {
    background-color: #df8a00 !important;
    border-color: #df8a00 !important;
    color: #0c1a2d !important;
}

.form-button:disabled {
    background-color: #df8a00 !important;
    border-color: #df8a00 !important;
    color: #0c1a2d !important;
}

.clear-button {
    background-color: #182B45;
    border-color: #182B45;
    color: #fdb035;
    transition: all 500ms;
}

.clear-button:hover {
    background-color: #df8a00;
    border-color: #df8a00;
    color: #0C1A2D;
    font-weight: 500;
}

.clear-button:active {
    background-color: #df8a00 !important;
    border-color: #df8a00 !important;
}

.clear-button:disabled {
    background-color: #df8a00 !important;
    border-color: #df8a00 !important;
}

.bottom-button {
    width: 60%;
}

.login-button {
    margin-bottom: 10px;
}

.image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #fffaff;
    overflow: hidden;
    background-color: #182B45;
}

.form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border: 1px solid #fffaff;
}

.trainer-create-title {
    margin-bottom: 20px;
}

.bar {
    margin-bottom: 20px;
}

.skip-link {
    cursor: pointer;
    color: #fdb035;
    font-weight: 700;
}

.slide-box {
    background-color: #081d3a;
    border: 1px solid #182B45;
    /* outline: 1px solid #182B45; */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.slide-box-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headline-slide-title {
    color: #3071df;
    margin-bottom: 10px;
}

.headline-preview {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.headline-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid #fffaff;
    border-radius: 5px;
}

.headline-slide-clear {
    display: flex;
    justify-content: center;
}

.split-bottom-button {
    width: 30%;
}

.error-message {
    width: 100%;
    text-align: center;
    color: #fc0536;
    font-size: 12px;
    margin: 0px auto 10px auto
}

.warning-message {
    width: 100%;
    text-align: center;
    color: #df8a00;
    font-size: 12px;
    margin: 0px auto 5px auto;
}

.warning-message:last-of-type {
    margin-bottom: 10px;
}

.error-icon {
    font-size: 15px;
}

@media (max-width: 992px) {
    .form-box {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .form-box {
        width: 75%;
    }
}

@media (max-width: 576px) {
    .form-box {
        width: 90%;
    }

    .form-app-logo {
        width: 300px;
    }
}