.navbar {
    background-color: #0C1A2D;
    border-bottom: 1px solid #182B45;
}

.app-logo {
    height: 60px;
    width: auto;
}

.desk-nav {
    display: flex;
    align-items: center;
    color: #FFFAFF;
} 

.nav-bar-link {
    color: #FFFAFF;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.nav-link:hover {
    color: #FFFAFF;
    background-color: #182B45;
}

.profile-picture {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: 1px solid #fffaff;
}

.noti {
    position: relative;
    transform: translate(0px, -10px);
    font-size: 10px;
}

.mobile-nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #0C1A2D;
    border-top: 1px solid #182B45;
    height: 100px;
    display: none;
    z-index: 30;
}

.nav-mobile-link {
    color: #FFFAFF;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 992px) {
    .nav-bar-link {
        display: none;
    }

    .mobile-nav {
        display: block;
        
    }

}