.desk-nav {
    display: flex;
    align-items: center;
} 

.profile-picture {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.noti {
    position: relative;
    transform: translate(0px, -10px);
    font-size: 10px;
}
