.display-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.profile-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    cursor: pointer;
    color: #fffaff;
    background-color: #081D3A;
    border: 2px solid #182B45;
}

.image-cont {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-bottom-left-radius: calc(0.375rem - 1px);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.profile-card-img {
    object-fit: contain;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.search-sidebar {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    /* border-right: 1px solid #182B45; */
    position: sticky;
    top: 0;
    padding-top: 20px;
}

.search-section {
    width: 80%;
}

.query-search-button {
    background-color: #fdb035;
    border-color: #fdb035;
}

.query-search-button:hover {
    background-color: #df8a00;
    border-color: #df8a00;
}

.query-search-button:active {
    background-color: #df8a00 !important;
    border-color: #df8a00 !important;
}

.query-search-button:disabled {
    background-color: #df8a00 !important;
    border-color: #df8a00 !important;
}

.clear-search {
    width: 100%;
    margin: 0;
}

.search-label {
    color: #fffaff;
}

.autocomplete-search {
    border-radius: 0.375rem;
}


.search-radius {
    margin-top: 10px;
}

.profiles-mainbar {
    width: 70%;
    display: flex;
    justify-content: center;
}

.profile-card-list {
    width: 70%;
}

.card-title {
    color: #fdb035;
}