.profile-image-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #212529;
    overflow: hidden;
    background-color: #bbb;
}

.profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.profile-view {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.reviews-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-img {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.review-title {
    display: flex;
    justify-content: flex-start;
}
.review-user {
    margin-bottom: 0;
    margin-left: 5px;
}