.portal-nav {
    width: 100%;
    background-color: #0c1a2d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #082b45;
    position: sticky;
    top: 0;
    z-index: 30;
}

.nav-tab-list {
    width: 80%;
    border-bottom: none;
}

.nav-tab-link {
    color: #fffaff;
    border: 1px solid #0c1a2d;
}

/* .nav-tab-link:active {
    color: #fdb035;
}

.nav-tab-link:focus {
    color: #fdb035;
} */


.nav-tab-link:hover {
    border-radius: 5px;
    border: 1px solid #082b45;
}

.nav-tab-item .active {
    border-radius: 5px;
    color: #fdb035;
    background: #082b45 !important;
    border: 1px solid #fdb035 !important;
}

.portal-display-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.portal-display-box {
    width: 80%;
    margin-top: 20px;
}

.note-head {
    display: flex;
    justify-content: space-between;
}

.request-head {
    display: flex;
    align-items: center;
}

.client-profile-img {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-right: 5px;
}

.request-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request-button {
    margin: 0px 5px;
}

.new-session {
    display: flex;
    align-items: center;
}

.session-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.session-action {
    margin-left: 10px;
    cursor: pointer;
}